body {
        font-family: "Arial", sans-serif;
        background-color:   #b9936c;

}


.form {

justify-content: center;
align-items: center;
background:  #c4b7a6;
padding: 6vw 6vh;
font-size:5vw;
text-align:center;


}

.button-link {
    display: block;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #e6e2d3;
    background-color: #c4b7a6;
    margin: 10px;
    border: 5px;

}

.button-link:hover {
    background-color: #dac292;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{


    display: block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color:  #b9936c;
    padding: 15px;

}

.spin{
	transition: transform 0.5s;
}

#spin:hover {
	transform: rotate(180deg);
}
