
        body {
                background-color:rgb(147, 159, 215);
                color:rgb(0, 0, 0);
             }
    
        th,td,table {
                border: 1px solid;
                   }
 
